src/main/webapp/WEB-INF/schema/primefaces-i-2.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by TaglibToXSD. + Mark A. Ziesemer, http://www.ziesemer.com + 2008-03-25 --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" xml:lang="en"
           elementFormDefault="qualified"
           targetNamespace="http://primefaces.prime.com.tr/touch">
   <xs:annotation>
      <xs:documentation/>
      <xs:documentation>tlib-version: 1.2</xs:documentation>
   </xs:annotation>
   <xs:element name="application">
      <xs:annotation>
         <xs:documentation><![CDATA[]]></xs:documentation>
         <xs:documentation>tag-class: org.primefaces.touch.component.application.ApplicationTag</xs:documentation>
         <xs:documentation>body-content: JSP</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
         </xs:choice>
         <xs:attribute name="id">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rendered">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value to specify the visibility of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="binding">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression that maps to a server-side component instance
		in a backing bean]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="theme">
            <xs:annotation>
               <xs:documentation><![CDATA[Theme of the application, 'default' or 'dark'.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="icon">
            <xs:annotation>
               <xs:documentation><![CDATA[Icon for the application, this icon is used when the app is added to homescreen.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="navBarControl">
      <xs:annotation>
         <xs:documentation><![CDATA[]]></xs:documentation>
         <xs:documentation>tag-class: org.primefaces.touch.component.navbarcontrol.NavBarControlTag</xs:documentation>
         <xs:documentation>body-content: JSP</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
         </xs:choice>
         <xs:attribute name="id">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rendered">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value to specify the visibility of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="binding">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression that maps to a server-side component instance
		in a backing bean]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="label">
            <xs:annotation>
               <xs:documentation><![CDATA[Label of the item.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="view">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the view to be displayed when this control is clicked.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type">
            <xs:annotation>
               <xs:documentation><![CDATA[Display type of the control, 'button' or 'back'.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="effect">
            <xs:annotation>
               <xs:documentation><![CDATA[Effect of the animation that'll be used when displaying the new view.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="rowGroup">
      <xs:annotation>
         <xs:documentation><![CDATA[]]></xs:documentation>
         <xs:documentation>tag-class: org.primefaces.touch.component.rowgroup.RowGroupTag</xs:documentation>
         <xs:documentation>body-content: JSP</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
         </xs:choice>
         <xs:attribute name="id">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rendered">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value to specify the visibility of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="binding">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression that maps to a server-side component instance
		in a backing bean]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="title">
            <xs:annotation>
               <xs:documentation><![CDATA[Optional title of the row group.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="display">
            <xs:annotation>
               <xs:documentation><![CDATA[Display type of the rowgroup.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="rowItem">
      <xs:annotation>
         <xs:documentation><![CDATA[]]></xs:documentation>
         <xs:documentation>tag-class: org.primefaces.touch.component.rowitem.RowItemTag</xs:documentation>
         <xs:documentation>body-content: JSP</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
         </xs:choice>
         <xs:attribute name="id">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rendered">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value to specify the visibility of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="binding">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression that maps to a server-side component instance
		in a backing bean]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="value">
            <xs:annotation>
               <xs:documentation><![CDATA[Value of the component that can be either an EL expression or a
		literal text]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="actionListener">
            <xs:annotation>
               <xs:documentation><![CDATA[]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="action">
            <xs:annotation>
               <xs:documentation><![CDATA[]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="immediate">
            <xs:annotation>
               <xs:documentation><![CDATA[]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="view">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the view to be displayed when this item is clicked.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="url">
            <xs:annotation>
               <xs:documentation><![CDATA[Optional URL of the item to be used for external navigation.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="update">
            <xs:annotation>
               <xs:documentation><![CDATA[Client side id of the component(s) to be updated after async partial submit request.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="onstart">
            <xs:annotation>
               <xs:documentation><![CDATA[Javascript event to be called before ajax request begins.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="oncomplete">
            <xs:annotation>
               <xs:documentation><![CDATA[Javascript event to be called when ajax request is completed.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="process">
            <xs:annotation>
               <xs:documentation><![CDATA[Comma seperated list of clientIds that will be processed partially in JSF lifecycle instead of the whole component tree.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="onerror">
            <xs:annotation>
               <xs:documentation><![CDATA[Javascript event handler to be called when ajax request fails.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="onsuccess">
            <xs:annotation>
               <xs:documentation><![CDATA[Javascript event handler to be called when ajax request succeeds.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="global">
            <xs:annotation>
               <xs:documentation><![CDATA[Global ajax requests are listened by ajaxStatus component, setting global to false will not trigger ajaxStatus.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="async">
            <xs:annotation>
               <xs:documentation><![CDATA[When set to true, ajax requests will not be queued.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="switch">
      <xs:annotation>
         <xs:documentation><![CDATA[]]></xs:documentation>
         <xs:documentation>tag-class: org.primefaces.touch.component.inputswitch.InputSwitchTag</xs:documentation>
         <xs:documentation>body-content: JSP</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
         </xs:choice>
         <xs:attribute name="id">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rendered">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value to specify the visibility of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="binding">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression that maps to a server-side component instance
		in a backing bean]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="value">
            <xs:annotation>
               <xs:documentation><![CDATA[Value of the component that can be either an EL expression or a
		literal text]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="converter">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression or a literal text that defines a converter for
		the component. When it's an EL expression, it's resolved to a
		converter instance. In case it's a static text, it must refer to
		a converter id]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="immediate">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value that specifies the lifecycle phase the
		valueChangeEvents should be processed, when true the events will
		be fired at "apply request values", if immediate is set to
		false, valueChangeEvents are fired in "process validations"
		phase. Default is false]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="required">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value that makes the component required, default value
		is false]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="validator">
            <xs:annotation>
               <xs:documentation><![CDATA[A method binding EL expression that refers to a method for
		validating the input]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="valueChangeListener">
            <xs:annotation>
               <xs:documentation><![CDATA[A method binding EL expression that refers to a method for
		handling a value change event]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="requiredMessage">
            <xs:annotation>
               <xs:documentation><![CDATA[Message to be displayed when required field validation fails]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="converterMessage">
            <xs:annotation>
               <xs:documentation><![CDATA[Message to be displayed when conversion fails]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="validatorMessage">
            <xs:annotation>
               <xs:documentation><![CDATA[Message to be displayed when validation fails]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="tableView">
      <xs:annotation>
         <xs:documentation><![CDATA[]]></xs:documentation>
         <xs:documentation>tag-class: org.primefaces.touch.component.tableview.TableViewTag</xs:documentation>
         <xs:documentation>body-content: JSP</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
         </xs:choice>
         <xs:attribute name="id">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rendered">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value to specify the visibility of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="binding">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression that maps to a server-side component instance
		in a backing bean]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="view">
      <xs:annotation>
         <xs:documentation><![CDATA[]]></xs:documentation>
         <xs:documentation>tag-class: org.primefaces.touch.component.view.ViewTag</xs:documentation>
         <xs:documentation>body-content: JSP</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax"/>
         </xs:choice>
         <xs:attribute name="id">
            <xs:annotation>
               <xs:documentation><![CDATA[Id of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rendered">
            <xs:annotation>
               <xs:documentation><![CDATA[Boolean value to specify the visibility of the component]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="binding">
            <xs:annotation>
               <xs:documentation><![CDATA[An EL expression that maps to a server-side component instance
		in a backing bean]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="title">
            <xs:annotation>
               <xs:documentation><![CDATA[Title of the screen.]]></xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
</xs:schema>